@page "/"
@layout MainLayout

@using System.Net.Http.Headers;
@inject HttpClient Http
@inject ILocalStorageService _localStorage
@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<PageTitle>Codesome</PageTitle>

<AuthorizeView>
    <Authorized>
        @* <MudAppBar Elevation="4" Dense="true">
            <MudText Style="color: black">Codesome</MudText>
            <MudSpacer />
            <div class="d-flex flex-row align-center gap-6 justify-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="LogOut" Class="ml-auto">Login</MudButton>

            </div>
        </MudAppBar> *@
        <MudGrid>
            <MudItem>
                <MudText Typo="Typo.h4">Welcome to Codesome</MudText>
            </MudItem>
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <MudAppBar Elevation="4" Dense="true">
            <MudText Style="color: black">Codesome</MudText>
            <MudSpacer />

            <div class="d-flex flex-row align-center gap-6 justify-center">
                <MudNavLink Href="/register" Match="NavLinkMatch.All">Register</MudNavLink>

                <MudNavLink Href="/login" Match="NavLinkMatch.All">Login</MudNavLink>
            </div>
        </MudAppBar>
    </NotAuthorized>
</AuthorizeView>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    private async Task LogOut()
    {
        // var authState = await authenticationState;
    }
}